{% extends "core/base.html" %}
{% load static %}
{% block content %}

<!-- Masthead -->
  <header class="legalnotice">
    <div class="container h-100">
        <h1 class="text-center text-white font-weight-bold">{{ header_title }}</h1>
    </div>
  </header>

  <!-- Contact Section -->
  <section class="page-section" >
    <div class="container">
      <h1 class="text-black font-weight-bold">Mentions légales</h1>
      <hr />
      <article>
        <p>Voici la liste des ressources utilisés pour ce site :</p>
         <dl>
          <dt><a href="https://www.w3.org/html/">HTML</a></dt>
          <dd>- Le HyperText Markup Language, généralement abrégé HTML ou dans sa dernière version HTML5, est le langage de balisage conçu pour représenter les pages web.
            C’est un langage permettant d’écrire de l’hypertexte, d’où son nom.
            HTML permet également de structurer sémantiquement la page, de mettre en forme le contenu, de créer des formulaires de saisie, d’inclure des ressources multimédias dont des images, des vidéos, et des programmes informatiques.
              Il permet de créer des documents interopérables avec des équipements très variés de manière conforme aux exigences de l’accessibilité du web.
              Il est souvent utilisé conjointement avec le langage de programmation JavaScript et des feuilles de style en cascade (CSS).
              HTML est inspiré du Standard Generalized Markup Language (SGML).
              Il s'agit d'un format ouvert.
          </dd>
          <dt><a href="https://www.w3.org/Style/CSS/">CSS</a></dt>
          <dd>- Les feuilles de style en cascade, généralement appelées CSS de l'anglais Cascading Style Sheets, forment un langage informatique qui décrit la présentation des documents HTML et XML.
              Les standards définissant CSS sont publiés par le World Wide Web Consortium (W3C).
              Introduit au milieu des années 1990, CSS devient couramment utilisé dans la conception de sites web et bien pris en charge par les navigateurs web dans les années 2000.
          </dd>
          <dt><a href="https://getbootstrap.com/">Bootstrap</a></dt>
          <dd>
          - Bootstrap est une collection d'outils utiles à la création du design (graphisme, animation et interactions avec la page dans le navigateur, etc.) de sites et d'applications web.
          C'est un ensemble qui contient des codes HTML et CSS, des formulaires, boutons, outils de navigation et autres éléments interactifs, ainsi que des extensions JavaScript en option.
          </dd>
          <dt><a href="https://startbootstrap.com/themes/creative/">Theme Creative</a></dt>
          <dd>- Creative est un thème Bootstrap d'une page pour les créatifs, les petites entreprises et d'autres utilisations polyvalentes.
            Un style de conception moderne avec des fonctionnalités riches et des plugins variés, </dd>
          <dt><a href="https://fontawesome.com/">Font Awesome</a></dt>
          <dd>- Font Awesome est une police d'écriture et un outil d'icônes qui se base sur CSS, LESS et SASS. </dd>
          <dt><a href="https://www.pixar.com/">Pixar</a></dt>
          <dd>- Pixar Animation Studios est une société américaine de production de films en images tridimensionnelles de synthèse, dont le film Ratatouille d'où sont tirées certaines images utilisées sur le site</dd>
          <dt><a href="https://developer.mozilla.org/fr/JavaScript">JavaScript</a></dt>
          <dd>- JavaScript est un langage de programmation de scripts principalement employé dans les pages web interactives et à ce titre est une partie essentielle des applications web.
              Avec les technologies HTML et CSS, JavaScript est parfois considéré comme l'une des technologies cœur du World Wide Web.
          </dd>
          <dt><a href="http://jquery.com/">jQuery</a></dt>
          <dd>- jQuery est une bibliothèque JavaScript libre et multiplateforme créée pour faciliter l'écriture de scripts côté client dans le code HTML des pages web.
          </dd>
          <dt><a href="https://www.python.org/">Python</a></dt>
          <dd>- Python est un langage de programmation interprété, multi-paradigme et multiplateformes.
            Il favorise la programmation impérative structurée, fonctionnelle et orientée objet.
            Il est doté d'un typage dynamique fort, d'une gestion automatique de la mémoire par ramasse-miettes et d'un système de gestion d'exceptions.
          </dd>
          <dt><a href="https://www.djangoproject.com/">Django</a></dt>
          <dd>- Django est un cadre de développement web open source en Python.
            Il a pour but de rendre le développement web 2.0 simple et rapide.
            Pour cette raison, le projet a pour slogan « Le framework pour les perfectionnistes avec des deadlines. ».
            Développé en 2003 pour le journal local de Lawrence (Kansas), Django a été publié sous licence BSD à partir de juillet 2005.
          </dd>
          <dt><a href="https://fr.openfoodfacts.org/">OpenFoodFacts</a></dt>
          <dd>
          - Open Food Facts est un projet collaboratif en ligne et mobile dont le but est de constituer une base de données libre et ouverte sur les produits alimentaires commercialisés dans le monde entier.
          La version web francophone d'Open Food Facts. Les médias le comparent parfois à Wikipédia du fait de son mode de fonctionnement collaboratif et l'utilisation de licences libres2,3.
          </dd>
          <dt><a href="https://www.heroku.com/">Heroku</a></dt>
          <dd>
          - Heroku est un service de cloud computing de type plate-forme en tant que service (PaaS).
              Il permet le déploiement très rapide d'applications dans le cloud, avec une gestion souple du scaling horizontal au travers d'un modèle de gestion des processus emprunté à Unix et adapté au Web.
              Il supporte différents langages comme Python, Ruby, PHP, Java.
          </dd>
          <dt><a href="http://gunicorn.org/">Gunicorn</a></dt>
          <dd>
          - Gunicorn, pour « Green Unicorn » (Licorne Verte), est un serveur web HTTP WSGI écrit en Python et disponible pour Unix.
              Son modèle d'exécution est basé sur des sous-processus créés à l'avance, adapté du projet Ruby Unicorn.
              Le serveur Gunicorn est compatible avec un grand nombre de frameworks web, repose sur une implémentation simple, légère en ressources et relativement rapide.
          </dd>
          <dt><a href="https://www.postgresql.org/">PostgreSQL</a></dt>
          <dd>
          - PostgreSQL est un système de gestion de base de données relationnelle et objet (SGBDRO).
              C'est un outil libre disponible selon les termes d'une licence de type BSD.
              Ce système est concurrent d'autres systèmes de gestion de base de données, qu'ils soient libres (comme MariaDB et Firebird), ou propriétaires (comme Oracle, MySQL, Sybase, DB2, Informix et Microsoft SQL Server).
              Comme les projets libres Apache et Linux, PostgreSQL n'est pas contrôlé par une seule entreprise, mais est fondé sur une communauté mondiale de développeurs et d'entreprises.
          </dd>

        </dl>

      </article>

    </div>
  </section>

{% endblock content %}