{% load static %}
{% url 'core:home' as home_url %}

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'core:home' %}"><!-- pagetop : #page-top --><img class="logoheader" src="{% static 'img/logo.png' %}" alt="Logo">Pur Beurre</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          {% if request.get_full_path != home_url %}
          <li class="nav-item my-auto">
            <form class="" action="{% url 'search:search_results' %}" method="get">
              <input type="text" name="product_searched" placeholder="Quel produit substituer ?" id="id_product_searched" class="navbar-form">
            </form>
          </li>
          {% endif %}
          <li class="nav-item my-auto">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'users:profile' %}"><i class="fa fa-user"></i></a>
            {% else %}
            <a class="nav-link" href="{% url 'users:login' %}"><i class="fa fa-user"></i></a>
            {% endif %}
          </li>
          <li class="nav-item my-auto">
            <a class="nav-link" href="{% url 'favorites:favorites' %}"><i class="fas fa-carrot"></i></a>
          </li>
          <li class="nav-item my-auto">
            {% if user.is_authenticated %}
            <a class="nav-link" style="color: #f4623a" href="{% url 'users:logout' %}"><i class="fa fa-sign-out-alt"></i></a>
            {% else %}
            <a class="nav-link" href="#"><i class="fa fa-sign-out-alt"></i></a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>