{% extends "core/base.html" %}
{% load static %}
{% block content %}
{% if messages %}
  <div>
    {% for message in messages %}
      <div{% if message.tags %} class="{{ message.tags }}"{% endif %} onclick="this.parentElement.style.display='none';">
        <div class="message_text">{{ message }}</div><div class="message_close_icon">&times;</div>
      </div>
    {% endfor %}
  </div>
{% endif %}
<!-- Masthead -->
  <header class="login">
    <div class="container h-100">
        <h1 class="text-center text-white font-weight-bold">Login</h1>
    </div>
  </header>

  <!-- Contact Section -->
  <section class="page-section" >
    <div class="container">
      <h2>Login</h2>
      <hr>
      <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Envoyer</button>
      </form>
      <p>
      <hr>
      <a class="" href="{% url 'users:signup' %}">Vous n'avez pas encore de compte ? Inscrivez-vous ici !</a>
      </p>
    </div>
  </section>

{% endblock content %}