{% extends "core/base.html" %}
{% load static %}
{% block content %}

<!-- Masthead -->
  <header class="profil">
    <div class="container h-100">
        <h1 class="text-center text-white font-weight-bold">{{ user.username }}</h1>
    </div>
  </header>

  <!-- Contact Section -->
  <section class="page-section" >
    <div class="container text-center col-4">
      <p class="text-black font-weight-bold border border-dark rounded">{{ user.email }}</p>

    </div>
  </section>

{% endblock content %}